@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

/* -------------------------------------------------------------------- background image -----------*/

/* source of the background img (https://www.toptal.com/designers/subtlepatterns/) */
body {
  background-image: url("../images/bg-dark.png");
}

/* -------------------------------------------------------------------- Color palette --------------*/

.color1 {
  color: #fcfffd;
}
.color5 {
  color: #5d737e;
}
.color6 {
  color: #e71d36;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fcfffd;
}

/* -------------------------------------------------------------------- Header  ------------------*/

.round-img,
.round-container {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 8px auto;
}

.round-img {
  background-image: url("../images/aws.jpg");
  background-size: cover;
  display: block;
}

.navigation .nav .nav-item a {
  font-family: "Exo 2", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fcfffd;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
  margin-left: 10px;
}

.active {
  border-bottom: 1px solid #fcfffd;
}

.uppercase {
  text-transform: uppercase;
}

.section-heading {
  font-family: "Exo 2", sans-serif;
  font-weight: 200;
}

.title {
  padding-top: 2rem;
}

.title-name,
.title-keywords {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.title-keywords {
  font-size: 1.3rem;
}

/* Souce of the below animation code: (https://stackoverflow.com/questions/29846224/css-animation-with-delay-and-opacity) */

#analyst {
  animation: 2s ease 0s normal forwards 1 fadein;
  -webkit-animation: 2s ease 0s normal forwards 1 fadein;
}

#seperator1 {
  animation: 3s ease 0s normal forwards 1 fadein;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
}

#developer {
  animation: 4s ease 0s normal forwards 1 fadein;
  -webkit-animation: 4s ease 0s normal forwards 1 fadein;
}

#seperator2 {
  animation: 5s ease 0s normal forwards 1 fadein;
  -webkit-animation: 5s ease 0s normal forwards 1 fadein;
}

#numbgeek {
  animation: 6s ease 0s normal forwards 1 fadein;
  -webkit-animation: 6s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* -------------------------------------------------------------------- footer  ------------------*/

.jumbotron {
  background-color: rgba(93, 115, 126, 0.1);
  margin-bottom: 0;
  padding: 25px 30px 5px 30px;
}

.social-links li a i,
.contact-link,
.dl-icon,
.card-link,
.submit-btn {
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover,
.contact-link:hover,
.dl-icon:hover,
.card-link:hover {
  color: #e71d36;
}

.social-links li {
  margin-left: 5px;
}

.social-links li a i {
    font-size: 1.5rem;
}

@media (max-width: 767px) {
  .footer-heading,
  .social-links {
    text-align: center;
  }
}

.footer-heading {
  padding-bottom: 8px;
  font-size: 1.25rem;
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: 200;
}
.footer-txt,
.download {
  font-weight: 100;
}

.download {
  padding-top: 12px;
}

.download a i {
  margin-left: 6px;
}

/* -------------------------------------------------------------------- index body section  ------------------*/

.bg-info-card {
  background-color: rgba(93, 115, 126, 0.1);
  border-radius: 3%;
  padding-top: 8px;
  margin-top: 8px;
}

.personal-info-item {
  display: block;
  clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
  padding-left: 8px;
  display: inline-block;
  margin-bottom: 20px;
}

.personal-info-item .key p,
.personal-info-item .value p {
  margin: 0;
}

.personal-info-item .key p {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
}

.bio {
  line-height: 1.6;
  padding: 25px 12px;
  letter-spacing: 1px;
  font-weight: 100;
  text-align: justify;
}

.skills h3,
.projects,
.card-title,
.timeline-item h4,
.history-heading,
.contact-heading,
.contact-subheading {
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
}

.skills p,
.card-text,
.short-intro {
  font-weight: 100;
}

.fin h3,
.fin p {
  text-align: right;
}

.fin {
  border-right: 1px solid #5d737e;
}

.fin span,
.tech span {
  display: none;
}

/* made max width 767 instead of 768 so that the effect is activated only below the tablet size */
@media (max-width: 767px) {
  .fin h3,
  .fin p,
  #skills {
    text-align: left;
  }
  .fin {
    border: none;
  }
  .fin span,
  .tech span {
    display: inline;
  }
}

.projects {
  margin-top: 10px;
}

.p-cards {
  margin-left: 8px;
  margin-right: 8px;
}

.card {
  margin: 15px 0;
  padding: 0 5px;
}

.card-bg {
  padding: 10px;
  border-radius: 2%;
  background-color: rgba(231, 29, 54, 0.1);
  margin-bottom: 8px;
}

/* glow effect/ includes:
 the keywords in heading section 
 the Financial and Technology sub-headings
 skills sub-heading
work history sub-heading
 */
.card-title,
.fin h3,
.tech h3,
.skills h3,
.title-keywords,
.history-heading {
  text-shadow: 0 0 10px #fff;
}

/* -------------------------------------------------------------------- work history body section  ------------------*/

 .timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid #5d737e;
}

.timeline-item p {
    padding: 0;
    margin: 0;
    font-weight: 100;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #5d737e;
}

.short-intro {
    margin-top: 2em;
    margin-bottom: 3em;
}

.history-heading {
    margin-bottom: 20px;
}

.history-items {
    margin-bottom: 3em;
}

/* -----------------------------------------------------contact form--------------- */

.contact-heading {
    margin-top: 1.5em;
}

.contact-subheading {
    margin-bottom: 2em;
}

.contact-form {
    margin: 40px 0;
}

.form-control {
    margin-bottom: 20px;
}

.submit-btn {
    background-color: #5d737e;
    color: #fcfffd;
}

.submit-btn:hover {
    color: #fcfffd;
    background-color: #e71d36;
}

